.PuntoGiro-Chequea input{
        border: 2px solid #315150;
        border-radius: 20px;
        backdrop-filter: blur(50px);
        background-color: rgba(245, 245, 220, 0.377);
        outline: none;
        width: 75vw;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
        font-size: x-large;
        transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
        border-radius: 10px;

    }
    .PuntoGiro-Chequea input::placeholder {
        color: #315150;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .PuntoGiro-Chequea input:focus::placeholder {
        opacity: 0;
    }

    .PuntoGiro-Chequea input:focus {
        border: 2px solid #315150;
        box-shadow: 0px 0px 10px 0px #315150;
    }

    .PuntoGiro-Chequea section{
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-block: 10px;
    }

    .btn{
        width: 20vw;
        height: auto;
        border-radius: 20px;
        transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.2s ease-in-out;
        outline: none;
        font-size: x-large;
        cursor: pointer;
        padding: 10px;
        text-align: center;
    }
      
    .btn-verde{
        border: 3px solid  #32CD32;
        background-color: #006400;
        color: #149214;
        
    }
    .btn-verde:focus,
    .btn-verde:hover {
        background-color: #32CD32;
        box-shadow: 0px 0px 10px 0px #006400;
        border: 3px solid #006400;
        color: white;
    }

    .btn-amarillo{
        border: 3px solid  #FFFF00;
        color: #FFFF00;
        background-color: #ffde21;
                
    }
    .btn-amarillo:focus,
    .btn-amarillo:hover{
        background-color: #FFFF00;
        box-shadow: 0px 0px 10px 0px #ffde21;
        border: 3px solid  #ffde21;
        color: black;
    }

    .btn-celeste{
        border: 3px solid  #67ADF3;
        color: #9FDAFF;
        background-color: #67ADF3;              
    }
    .btn-celeste:focus,
    .btn-celeste:hover{
        background-color: #9FDAFF;              
        box-shadow: 0px 0px 10px 0px #67ADF3;
        border: 3px solid  #67ADF3;
        color: white;
    }

    .btn-gris{
    border: 3px solid  #414141;
    color: #808080;
    background-color: #414141;
}
.btn-gris:focus,
.btn-gris:hover{
    background-color: #808080;
    box-shadow: 0px 0px 10px 0px #414141;
    border: 3px solid  #414141;
    color: white;
}

.cerrar-modal{
    border: 3px solid  #ac0000;
    color: #ff5833be;
    background-color: #8B0000;
}
.cerrar-modal:focus,
.cerrar-modal:hover{
    background-color: #d10202;
    box-shadow: 0px 0px 10px 0px #8B0000;
    border: 3px solid  #8B0000;
    color: white;
}

.photo-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.photo-grid figure{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(50px);
    border-radius: 15px;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
}

.verde{
    background-color: rgba(209, 253, 209, 0.247);
    border: 2px solid #32CD32;
}
.verde:hover{
    box-shadow: 0px 0px 10px 0px #32CD32;
    border: 2px solid  #32CD32;
}
.amarillo{
    background-color: #ffff002a;
    border: 2px solid #ffde21;
}
.amarillo:hover{
    box-shadow: 0px 0px 10px 0px #ffde21;
    border: 2px solid #ffde21;
}
.celeste{
    background-color: #9fdaff3b;
    border: 2px solid #9FDAFF;
}
.celeste:hover{
    box-shadow: 0px 0px 10px 0px #9FDAFF;
    border: 2px solid  #9FDAFF;
}

.grises{
    background-color: #80808033;
    border: 2px solid #808080;
}
.grises:hover{
    box-shadow: 0px 0px 10px 0px #808080;
    border: 2px solid  #808080;
}

.photo-grid img{
width: 100%;
height: auto;
border-radius: 5px;
}

.photo-grid figcaption{
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    color: black;
}

@media screen and (max-width: 768px) {
    .photo-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 10px;
        padding: 10px;
    }
    
    .photo-grid figure{
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(25px);
        border-radius: 15px;
        transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
        cursor: pointer;
    }
    
    .PuntoGiro-Chequea section {
        flex-direction: column;
        justify-content: center;
    }
    
    .btn {
        width: 75vw;
        margin: 5px;
        border-radius: 10px;
    }

    .item-container{
        font-size:small;
    }

}

@media screen and (min-width: 768px) and (max-width: 1440px){
    .photo-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 10px;
        padding: 10px;
    }
}


.PuntoGiro-Main-chequea{
    min-height: 98vh;
}

#secos{
    background-color: rgba(219, 255, 210, 0.911);
    border: 3px solid #006400;
    box-shadow: 0px 0px 10px 0px rgba(250, 249, 199, 0.952);
}

#plasticos{
    background-color: rgba(250, 249, 199, 0.952);
    border: 3px solid rgba(252, 250, 139, 0.952);
    box-shadow: 0px 0px 10px 0px rgba(250, 249, 199, 0.952);
}

#vidrios{
    border: 3px solid  #4da1f5;
    color: black;
    background-color: #95c7faef;    
    box-shadow: 0px 0px 10px 0px #4da1f5;

}

#papeles{
    background-color: #808080ee;
    border: #303030 3px solid;
    box-shadow: 0px 0px 10px 0px #808080d3;
    color: white;
}
