.PuntoGiro-Section-Home {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    height: auto; /* Setting a height to the container */
    padding: 5px;
}

.PuntoGiro-Section-Home section {
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
/* 
.PuntoGiro-Section-Home section:first-child {
    background-color: #006400da;
    border: #004400 3px solid;
}

.PuntoGiro-Section-Home section:first-child:hover {
    background-color: #32CD32;
    background-image: url('tile_background.png');
    border: #006400 3px solid;
    box-shadow: 0px 0px 10px 5px #006400;
    -webkit-box-shadow: 0px 0px 10px 5px #006400;
    -moz-box-shadow: 0px 0px 10px 5px #006400;
}

.PuntoGiro-Section-Home section:nth-child(2) {
    background-color: #ffde21d0;
    border: #ffd900 3px solid;
}

.PuntoGiro-Section-Home section:nth-child(2):hover {
    background-color: #ffff00d0;
    background-image: url('tile_background2.png');
    border: #fad400 3px solid;
    box-shadow: 0px 0px 10px 3px #ffde21;
    -webkit-box-shadow: 0px 0px 10px 3px #ffde21;
    -moz-box-shadow: 0px 0px 10px 3px #ffde21;
    
}

.PuntoGiro-Section-Home section:nth-child(3) {
    background-color: #67adf3e5;
    border: #2690fa 3px solid;
}

.PuntoGiro-Section-Home section:nth-child(3):hover {
    background-color: #9FDAFF;
    background-image: url('tile_background4.png');
    border: #67ADF3 3px solid;
    box-shadow: 0px 0px 10px 3px #67ADF3;
    -webkit-box-shadow: 0px 0px 10px 3px #67ADF3;
    -moz-box-shadow: 0px 0px 10px 3px #67ADF3;
}

*/

.PuntoGiro-Section-Home .gris:hover {
    background-color: #808080;
    background-image: url('tile_background3.png');
    border: #414141 3px solid;
    box-shadow: 0px 0px 10px 3px #414141;
    -webkit-box-shadow: 0px 0px 10px 3px #414141;
    -moz-box-shadow: 0px 0px 10px 3px #414141;
}   
    
.PuntoGiro-Section-Home .gris {
    background-color: #414141d5;
    border: #303030 3px solid;
}

.PuntoGiro-Section-Home a{
    height: 100%;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:white;
    align-items: center;
    justify-content: space-around;
}


.PuntoGiro-Footer-Secundario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: auto;
    background-color: rgba(245, 245, 203, 0.774);
    border: 1px solid rgb(248, 248, 150);
    box-shadow: 0px 0px 10px 0px rgb(248, 248, 150);
    border-radius: 10px;
    height: 75vh;
    backdrop-filter: blur(25px);
    padding: 1rem;
}

.PuntoGiro-Section-Home img{
    height: 56px;
}

.PuntoGiro-Section-Home p{
    font-size: xx-small;
}

@media (max-width: 424.98px) {

    .PuntoGiro-Footer-Secundario{
        display: none;
    }

    .PuntoGiro-Section-Home {
        list-style-type: none;
        display: grid;
        grid-template-columns: (1fr);
        padding: 20px; /* Padding shorthand */
        height: auto;
        margin: auto; /* Centering using margin auto */
        max-width: 90vw; /* Maximum width for centering */
    }

    .PuntoGiro-Section-Home section {
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .PuntoGiro-Section-Home a{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color:white;
        margin: 10px;
    }

    .PuntoGiro-Footer{
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
    }

    .PuntoGiro-Section-Home h1 {
        font-size: 14px;
    }
}
@media (min-width: 425px) and (max-width: 1023.98px) {
    .PuntoGiro-Footer-Secundario{
        display: none;
    }    

    .PuntoGiro-Section-Home {
        list-style-type: none;
        display: grid;
        grid-template-columns: (1fr);
        height: auto; /* Reduced height */
        padding: 20px; /* Padding shorthand */
        margin: auto; /* Centering using margin auto */
        max-width: 85vw; /* Maximum width for centering */
    }
    
    .PuntoGiro-Section-Home a{
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color:white;
        
    }

    .PuntoGiro-Section-Home section {
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .PuntoGiro-Footer{
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
    }

    .PuntoGiro-Section-Home h1 {
        font-size: large;
    }
}

@media (min-width: 1024px) {
    .PuntoGiro-Footer{
        display: none;
    }

    .PuntoGiro-Main {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        justify-content: center;
    }

    .PuntoGiro-Section-Home {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 75vh;
        padding-inline: 20px;/* Setting a height to the container */
        width: 75vw;
    }

    .PuntoGiro-Section-Home a{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color:white;
    }
    
    .PuntoGiro-Section-Home a{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
    
    .PuntoGiro-Footer{
        display: none;
    }
    
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .PuntoGiro-Footer{
        display: none;
    }
    
    .PuntoGiro-Section-Home p{
        font-size: medium;
    }
    
    .PuntoGiro-Section-Home img{
        height: 72px;
    }
}

@media (min-width: 1440px) {
    .PuntoGiro-Footer{
        display: none;
    }
    
    .PuntoGiro-Section-Home p{
        font-size: large;
    }

    .PuntoGiro-Section-Home img{
        height: 86px;
    }
}

.blur{
    backdrop-filter: blur(50px);
}

.img-shadow:hover {
    transform: scale(1.1);
}
