@import url('https://fonts.cdnfonts.com/css/bright-aurora');
@import url('home.css');
@import url('buscador.css');
@import url('contenedores.css');

/* @import url('info.css');
@import url('chequea.css');
@import url('avisos.css');
@import url('categorias.css');
*/


*{
    font-family: 'Bright Aurora', sans-serif;
}

a, button, figure{
  all: unset;
  cursor: pointer;
}

body {
  background-color: #f5f5dc;
  display: flex;
  flex-direction: column;
}


.verde{
  background-color: rgba(209, 253, 209, 0.295);
  border: 2px solid #32CD32;
}
.verde:hover{
  box-shadow: 0px 0px 10px 0px #32CD32;
  border: 2px solid  #32CD32;
}

.amarillo{
  background-color: #f8f89d85;
  border: 2px solid #ffde21;
}
.amarillo:hover{
  box-shadow: 0px 0px 10px 0px #ffde21;
  border: 2px solid #ffde21;
}
.celeste{
  background-color: #bee6ff62;
  border: 2px solid #9FDAFF;
}
.celeste:hover{
  box-shadow: 0px 0px 10px 0px #9fdaff;
  border: 2px solid  #9FDAFF;
}

.grises{
  background-color: #9b9a9a73;
  border: 2px solid #808080;
}
.grises:hover{
  box-shadow: 0px 0px 10px 0px #808080;
  border: 2px solid  #808080;
}

.PuntoGiro-Navbar nav{
  background-color: rgba(245, 245, 203, 0.842);
  border: 2px solid rgb(253, 253, 106);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  backdrop-filter: blur(25px);
}

.PuntoGiro-Footer{
  background-color: rgb(245, 245, 203);
  border: 1px solid rgb(248, 248, 150);
  box-shadow: 0px 0px 10px 0px rgb(248, 248, 150);
  border-radius: 10px;
}

.PuntoGiro-Navbar img{
    padding: 5px;
}

.PuntoGiro-Footer img{
    height: 32px;
}


.cerrar-modal{
    border: 2px solid  #ac0000;
    color: white;
    background-color: #8B0000;
    width: 25%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.cerrar-modal:focus,
.cerrar-modal:hover{
    background-color: #d10202;
    box-shadow: 0px 0px 10px 0px #8B0000;
    border: 2px solid  #8B0000;
    color: white;
}

.cerrar-btn {
    background: none;
    height: 10%;
    width: 95%;
    border: 1px solid darkred;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #721c24;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: rgba(139, 0, 0, 0.432);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cerrar-btn:hover{
    box-shadow: 0px 0px 10px 0px #8b0000;
    background-color: rgba(139, 0, 0, 0.342);
}

::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the thumb */
    border-radius: 3px; /* Rounded corners */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: transparent; /* Darker color on hover */
  }

/* Hide the default scrollbar */
.modal::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
  }
  
  /* Handle */
  .modal::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the thumb */
    border-radius: 3px; /* Rounded corners */
  }
  
  /* Track */
  .modal::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track */
  }
  
  /* Handle on hover */
  .modal::-webkit-scrollbar-thumb:hover {
    background-color: transparent; /* Darker color on hover */
  }
  

  @media (max-width: 1023.98px) {
    .PuntoGiro-Footer{
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: auto;
    }

    .PuntoGiro-Navbar img {
      height: 38px;
    }

    .PuntoGiro-Footer img{
      height: 28px;
    }

    .display-none{
      display: none;
    }
}

@media (min-width: 1024px) {
    /* Add styles for screens wider than 1024px */
    .PuntoGiro-Footer{
      display: none;
    }

    .PuntoGiro-Navbar img {
      height: 48px;
    }
  
  .PuntoGiro-Footer img{
      height: 32px;
  }

  .PuntoGiro-Footer-Secundario img{
    height: 48px;
  }
}


@media screen and (orientation: landscape) {
    /* Add styles for landscape orientation */
}

