---
import Layout from "../layouts/Layout.astro";



export const meta = {
  title: "Contenedores y Materiales",
};
---

<Layout title={meta.title}>
    <main class="PuntoGiro-Main-chequea">
        <div class="contenedores-container">
            <iframe src="https://www.google.com/maps/d/embed?mid=1qXDHdhYv2n-afJgYB7Ui8f0dvsMlu4DS&ehbc=2E312F" class="styled-iframe"></iframe>
        </div>
  </main>
</Layout>
